body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.myMap {
	width: 50vw;
	height: 100vh;
}

.fire {
	border: 5px solid #f44336;
	background-color: white;
	color: #000000;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 6px;
}

.flood {
	border: 5px solid #0198ba;
	background-color: white;
	color: #000000;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 4px;
}

.murder {
	border: 5px solid #ff9100;
	background-color: white;
	color: #000000;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 1px;
}

.accident {
	border: 5px solid #ebf436;
	background-color: white;
	color: #000000;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 6px;
}

.descriptionTittle {
	color: #fa223f;
}
.description {
	color: #000000;
}
